/* Choose 2 fonts to import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Suez+One&display=swap");
/* Font for name signature in the header */
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Suez+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(./images/confetti-doodles.svg);
  background-size: contain;
  font-family: "Suez One", Arial, Helvetica, sans-serif;
}


/* SCROLL-BAR STYLES */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#201c29,#201c29 1px,#100e17 0,#100e17);
}

body::-webkit-scrollbar-thumb {
  background: #B7B6CC;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

h2, h1 {
  color: #fff;
  text-align: center;
}

button {
  background-color: #4177b6;
  box-shadow: none;
  border: none;
  padding: .5em;
  margin-top: 1.5em;
  border-radius: 1em;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
    background-color: #4a87cc;
}

.darkMode {
  background-color: #232d47;
  color: #fff;
}

.darkMode #mobile-menu {
  background-color: #232d47;
}

.lightMode {
  background-color: #dfe0a6;
  color: #000;
}

.lightMode #mobile-menu {
  background-color: #dfe0a6;
}

#emoji {
  font-size: 2em;
}

#signature {
  font-family: "Imperial Script", Helvetica, sans-serif;
  font-size: 3em;
  word-spacing: .3em;
}

footer {
  text-align: center;
  padding: 1.5em 0;
  background-image: url(./images/project_section_background.svg);
  background-position: 0 -23.7em;
  background-repeat: no-repeat;
  color: #fff;
}

/* Navigation Style */
/* Light / Dark buttons */
#light-mode-desktop {
  background-color: transparent;
  margin: 0;
  display: none;
}

#dark-mode-desktop {
  background-color: transparent;
  margin: 0;
}

.desktop-nav {
  display: none;
}

.mobile-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  list-style: none;
  padding: 0 1em;
}

.mobile-nav button {
  padding: 0.5em;
}

.outer-container button {
  background-color: #fff;
  padding: 0.5em;
  border-radius: 50%;
  margin: 1.5em 0;
  width: 3em;
  height: 3em;
}

.outer-container img {
  width: 1.8em;
  height: auto;
}

#mobile-menu {
  background-color: #dfe0a6;
}

.main-container {
  background-image: url(./images/background_anim.svg);
  background-repeat: no-repeat;
  background-position: center 4em;
  background-size: 100% 80%;
  margin-top: 4em;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-container img {
  max-width: 100%;
  height: auto;
}

/* PROJECTS SECITON */

#projects {
  background-image: url(./images/project_section_background.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects img {
  margin: 1em 0;
  width: 95%;
}

#projects p {
  display: none;
}

#projects button {
  margin: 0.5em;
  width: 150px;
  color: #fff;
}

#project-info {
  margin: 0.8em;
  color: #fff;
}

/*ABOUT ME SECTION */
.about-me-header {
  padding: 1em;
  font-size: 2em;
}

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  background-image: url(./images/about-me-background.svg);
}

.flex-container {
  background-color: #c7c7c7;
  background-image: url(./images/flex-container-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1em;
  padding: 1em;
  color: #fff;
}

.flex-container p {
  padding-top: 1em;
  line-height: 1.8;
}

.flex-container img {
  width: 99%;
  height: auto;
  padding-top: 1em;
}

/* SKILLS SECTION */
#skills {
  background-image: url(./images/background_anim.svg);
  background-repeat: no-repeat;
  background-position: center 1em;
  background-size: 100% 113%;
}

#skills h2 {
  font-size: 2em;
}

.skills-intro {
  color: #fff;
  text-align: center;
  padding: 1em;
  font-size: 1.5em;
}

.grid-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding: 2em;
}

.grid-item img {
  padding: 1.3em;
}

/* CONTACT SECTION */
#contact {
  background-image: url(./images/project_section_background.svg);
}

.contact-proposition {
  margin-top: 1em;
  padding: 1em;
  font-size: 1.2em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
}

form h2 {
  text-align: left;
  padding-bottom: 1em;
  font-size: 2em;
}

label {
  margin: 0 1em;
  color: #fff;
}

input,
textarea,
#send-contact-info {
  width: 90%;
  padding: 0.7em;
  margin: 0.5em;
  border-radius: 1em;
  border: none;
}

/* LINKS WON'T BE DISPLAYED ON THE WHOLE PAGE, THEY WILL PE PLACED BEFORE CONTACT SECTION */
@media screen and (max-width: 600px ) { 
    #links {
        display: none;
    }

    .illustration {
        display: none;
    }
}
