/* Choose 2 fonts to import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Suez+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #DFE0A6;
    font-family: 'Suez One', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 600px) {
    header nav {
        display: none;
    }

    .main-container {
        background-image: url(./images/background_anim.svg);
        background-repeat: no-repeat;
        background-position: center 8em;
        background-size: 100% 80%;
        margin-top: 6.5em;
    }

    .left-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-container #call-to-action-btn {
        background-color: #4177B6;
        padding: 1em;
        margin-top: 1.5em;
        border-radius: 1em;
        color: #fff;
        font-size: 1em;
        border: none;
    }

    .right-container img {
        max-width: 100%;
        height: auto;
    }

    #projects {
        background-image: url(./images/project_section_background.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .laptop-frame {
        height: 15em;
    }

  }